@import "tailwindcss";

@layer base {
  :root {
    font-family: Poppins, sans-serif;
  }
  
  body {
    @apply min-h-screen;
    font-family: Poppins, sans-serif;
  }
  
  #root {
    @apply w-full;
  }
  
  * {
    font-family: Poppins, sans-serif;
  }
}

/* Blob Button Effect Styles */
.blob-btn {
  position: relative;
}

.blob-btn__blob {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}

.blob-btn:hover {
  color: #256BF1 !important;
}

.blob-btn:hover span {
  color: #256BF1 !important;
}

.blob-btn:hover svg {
  stroke: #256BF1;
}

.blob-btn:hover .blob-btn__blob {
  width: 300px;
  height: 300px;
  opacity: 1;
}

.blob-btn:active {
  background-color: rgba(37, 107, 241, 0.8);
}
